*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Medium";
    box-sizing: border-box;
    background-color: #f1eeee;
}

*::selection{
    color: white;
    background-color: black;
}

html, body{
    width: 100%;
    height: 100%;
    padding-bottom: 0vw;
    margin-bottom: 0vw;
}

#main{
    width: 100%;
    background-color: #fff;
    
    padding-bottom: 0vw;
    margin-bottom: 0vw;
}

body::-webkit-scrollbar {
    display: none;
  }

#home{
    width: 100%;
    min-height: 100vh;
    /* background-color: #fff; */
    
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 50px;
}

#nav img{
    width: 100px;
}

#nav #right{
    display: flex;
    align-items: center;
    gap: 40px;
}

#nav a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1vw;
    color: black;
    letter-spacing: -1px;
}

#nav i{
     margin-top:3px;
     font-size: 20px;
}

#extra{
    display: flex;
    padding: 0vw 15vw;
    /* background-color: red; */
}

#extra .exleft{
    padding: 5vw 15vw;
    margin-right: 4vw ;
    /* background-color: red; */
}

#extra .exright{
    padding: 5vw 15vw;
    /* background-color: yellow;/ */
}

#home #homemain{
    width: 100%;
    padding: 5vw 15vw 13vw;
}

#homemain h1{
    font-weight: 400;
    letter-spacing: -.1vw;
    font-size: 1.34vw;
}

.headings{
    display: flex;
    gap: 30px;
}

#homemain  .headings h1{
    color: transparent;
    -webkit-text-stroke: 1px  black;
    font-size: 7vw; 
    font-weight: 400;
    line-height: 1;
    letter-spacing: -3px;
}

#homemain .headings h1:hover{
    color: black;
    /* border: 2px solid white; */
}

#homelast{
    padding: 5vw 15vw ;

}

#homelast p{
    width: 60%;
    font-size:1.6vw;
    font-weight: 500;
    letter-spacing: -.08vw;
    
}

#homelast p::selection{
    color: white;
    background-color: black;
}

#featured{
    padding: 10vw 15vw 3vw;
    background-color: #f1eeee;
}

.fheading>h1{
    line-height: 1;
    font-size: 4vw;
    font-weight: 400;
}

.fheading>h1:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 1px black;
}

#fimages{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* padding:0vw 15vw; */
    height: 100vh;
    margin-top: 5vw;
    /* border: 2px solid red;  */
}

#fleft{
    overflow: hidden;
    width:45% ;
    height: inherit;
    
}

.fleftelm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: inherit;
}

.fleftelm h3{
    font-size: 1.3vw;
    font-weight: 400;
}

.fleftelm h1{
    font-size: 2.5vw;
    line-height: 1;
    font-weight: 400;
    text-transform: capitalize;
    margin: 1.5vw 0;
}

.fleftelm h4{
    opacity: .5;
    text-transform: capitalize;
}

#fright{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:45% ;
    height: inherit;
    
}

#fright .images{
    width :90%;
    height:90%;
}

#fright .images img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.btndiv{
    padding: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btndiv button{
    padding:1.3vw 2.5vw;
    border-radius: 100px;
    border: 1px solid black;
    background-color: #fff;
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: -1px;
}

/* .btndiv button:hover{
    color:white;
    background-color: black;
} */

#dev{
    width: 100%;
    padding: 0vw 15vw 5vw;
    background-color: #f1eeee;
}

#dev h1{
    font-size: 3.8vw;
    font-weight: 400;
    width: 60%;
    line-height: 1;
}

#dev p{
    font-size: 1.5vw;
    margin-top: 3vw;
    letter-spacing: -.5px;
    width: 60%;
}

#slides{
    padding: 3vw 10vw;
    display: flex;
    justify-content: space-between;
    background-color: #f1eeee;
}

.slide{
    width: 31%;
}

.slide .img{
    width: 100%;
    height: 270px;
    overflow: hidden;
    border-radius: 10px;
    background-color: yellow;
}

.slide .img img{
    width: 100%;
    height:100%;
    /* object-fit: cover; */

}

.slide .tag{
    width: fit-content;
    border-radius: 100px;
    padding: 10px 22px;
    background-color: #f7f7f7;
    border:2px solid black;
    margin: 20px 0;
}

.slide h3{
    font-size: 1.4vw;
    font-weight: 400;
    letter-spacing: .5px;
}

.lst{
    padding-top: 5vw;
    height: 100%;
}

.lst button{
    border:2px solid black;
    background-color: #f1eeee;
}

#footer{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
    padding: 5vw 15vw;
}

#footer .links{
    width: 50%;
    font-size: 1.3vw;
    font-weight: 400;
}

.links h4{
    -webkit-text-stroke:1px black;
    color: white;
    font-size: 1.5vw;
    font-weight: 400;
    padding-bottom: .7vw;
}

.links h3{
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: 400;
    padding-bottom: .7vw;
    /* padding: 2vw 5vw; */
}

#footer .add{
    width: 30%;
}

.add h3{
    -webkit-text-stroke:1px black;
    color: white;
    font-size: 1.5vw;
    font-weight: 400;
    padding-bottom: .9vw;
    padding-top: 1vw;
}

.add h4{
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: 400;
    /* padding-bottom: .8vw; */
    /* padding: 2vw 5vw; */
}